<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>K</key>
	<dict>
	    <key>imacron</key>
	    <integer>11</integer>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>21</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>21</integer>
	    <key>itilde</key>
	    <integer>51</integer>
	    <key>idieresis</key>
	    <integer>31</integer>
	    <key>icircumflex</key>
	    <integer>21</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>31</integer>
	    <key>itilde</key>
	    <integer>41</integer>
	    <key>idieresis</key>
	    <integer>32</integer>
	    <key>igrave</key>
	    <integer>11</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>18</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>Z</key>
	<dict>
	    <key>itilde</key>
	    <integer>12</integer>
	    <key>idieresis</key>
	    <integer>10</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>ibreve</key>
	    <integer>40</integer>
	    <key>imacron</key>
	    <integer>30</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>40</integer>
	    <key>igrave</key>
	    <integer>30</integer>
	</dict>
	<key>florin</key>
	<dict>
	    <key>ibreve</key>
	    <integer>40</integer>
	    <key>imacron</key>
	    <integer>30</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>40</integer>
	    <key>igrave</key>
	    <integer>30</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>dcaron</key>
	<dict>
	    <key>ibreve</key>
	    <integer>78</integer>
	    <key>imacron</key>
	    <integer>102</integer>
	    <key>itilde</key>
	    <integer>102</integer>
	    <key>idieresis</key>
	    <integer>102</integer>
	    <key>icircumflex</key>
	    <integer>86</integer>
	    <key>igrave</key>
	    <integer>62</integer>
	</dict>
	<key>Kcommaaccent</key>
	<dict>
	    <key>imacron</key>
	    <integer>11</integer>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>21</integer>
	</dict>
	<key>kgreenlandic.case</key>
	<dict>
	    <key>imacron</key>
	    <integer>11</integer>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>21</integer>
	</dict>
	<key>lcaron</key>
	<dict>
	    <key>ibreve</key>
	    <integer>78</integer>
	    <key>imacron</key>
	    <integer>102</integer>
	    <key>itilde</key>
	    <integer>102</integer>
	    <key>idieresis</key>
	    <integer>102</integer>
	    <key>icircumflex</key>
	    <integer>86</integer>
	    <key>igrave</key>
	    <integer>62</integer>
	</dict>
	<key>uni0162</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>21</integer>
	    <key>itilde</key>
	    <integer>51</integer>
	    <key>idieresis</key>
	    <integer>31</integer>
	    <key>icircumflex</key>
	    <integer>21</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>21</integer>
	    <key>itilde</key>
	    <integer>51</integer>
	    <key>idieresis</key>
	    <integer>31</integer>
	    <key>icircumflex</key>
	    <integer>21</integer>
	</dict>
	<key>Tbar</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>21</integer>
	    <key>itilde</key>
	    <integer>51</integer>
	    <key>idieresis</key>
	    <integer>31</integer>
	    <key>icircumflex</key>
	    <integer>21</integer>
	</dict>
	<key>Wcircumflex</key>
	<dict>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>18</integer>
	</dict>
	<key>Ycircumflex</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>Zacute</key>
	<dict>
	    <key>itilde</key>
	    <integer>12</integer>
	    <key>idieresis</key>
	    <integer>10</integer>
	</dict>
	<key>Zdotaccent</key>
	<dict>
	    <key>itilde</key>
	    <integer>12</integer>
	    <key>idieresis</key>
	    <integer>10</integer>
	</dict>
	<key>Zcaron</key>
	<dict>
	    <key>itilde</key>
	    <integer>12</integer>
	    <key>idieresis</key>
	    <integer>10</integer>
	</dict>
	<key>longs</key>
	<dict>
	    <key>ibreve</key>
	    <integer>40</integer>
	    <key>imacron</key>
	    <integer>30</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>40</integer>
	    <key>igrave</key>
	    <integer>30</integer>
	</dict>
	<key>uni021A</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>21</integer>
	    <key>itilde</key>
	    <integer>51</integer>
	    <key>idieresis</key>
	    <integer>31</integer>
	    <key>icircumflex</key>
	    <integer>21</integer>
	</dict>
	<key>Wgrave</key>
	<dict>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>18</integer>
	</dict>
	<key>Wacute</key>
	<dict>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>18</integer>
	</dict>
	<key>Wdieresis</key>
	<dict>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>18</integer>
	</dict>
	<key>Ygrave</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>f_f</key>
	<dict>
	    <key>ibreve</key>
	    <integer>40</integer>
	    <key>imacron</key>
	    <integer>30</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>40</integer>
	    <key>igrave</key>
	    <integer>30</integer>
	</dict>
	<key>uni0194</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>31</integer>
	    <key>itilde</key>
	    <integer>41</integer>
	    <key>idieresis</key>
	    <integer>32</integer>
	    <key>igrave</key>
	    <integer>11</integer>
	</dict>
	<key>uni0198</key>
	<dict>
	    <key>imacron</key>
	    <integer>11</integer>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>21</integer>
	</dict>
	<key>uni01AC</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>21</integer>
	    <key>itilde</key>
	    <integer>51</integer>
	    <key>idieresis</key>
	    <integer>31</integer>
	    <key>icircumflex</key>
	    <integer>21</integer>
	</dict>
	<key>uni01AE</key>
	<dict>
	    <key>ibreve</key>
	    <integer>11</integer>
	    <key>imacron</key>
	    <integer>21</integer>
	    <key>itilde</key>
	    <integer>51</integer>
	    <key>idieresis</key>
	    <integer>31</integer>
	    <key>icircumflex</key>
	    <integer>21</integer>
	</dict>
	<key>uni01B3</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>uni01C4</key>
	<dict>
	    <key>itilde</key>
	    <integer>12</integer>
	    <key>idieresis</key>
	    <integer>10</integer>
	</dict>
	<key>uni01E8</key>
	<dict>
	    <key>imacron</key>
	    <integer>11</integer>
	    <key>itilde</key>
	    <integer>11</integer>
	    <key>idieresis</key>
	    <integer>21</integer>
	</dict>
	<key>uni01F1</key>
	<dict>
	    <key>itilde</key>
	    <integer>12</integer>
	    <key>idieresis</key>
	    <integer>10</integer>
	</dict>
	<key>uni0224</key>
	<dict>
	    <key>itilde</key>
	    <integer>12</integer>
	    <key>idieresis</key>
	    <integer>10</integer>
	</dict>
	<key>uni0232</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>uni024E</key>
	<dict>
	    <key>imacron</key>
	    <integer>32</integer>
	    <key>itilde</key>
	    <integer>40</integer>
	    <key>idieresis</key>
	    <integer>41</integer>
	</dict>
	<key>afii10052</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-51</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>afii10062</key>
	<dict>
	    <key>afii10104</key>
	    <integer>41</integer>
	</dict>
	<key>afii10020</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-51</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>afii10036</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-52</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>afii10037</key>
	<dict>
	    <key>afii10104</key>
	    <integer>41</integer>
	</dict>
	<key>afii10050</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-51</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>uni0492</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-51</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>uni04A4</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-52</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>uni04AC</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-52</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>uni04EE</key>
	<dict>
	    <key>afii10104</key>
	    <integer>41</integer>
	</dict>
	<key>uni04F0</key>
	<dict>
	    <key>afii10104</key>
	    <integer>41</integer>
	</dict>
	<key>uni04F2</key>
	<dict>
	    <key>afii10104</key>
	    <integer>41</integer>
	</dict>
	<key>uni04F6</key>
	<dict>
	    <key>uni04ED</key>
	    <integer>-31</integer>
	    <key>uni04DF</key>
	    <integer>-51</integer>
	    <key>afii10104</key>
	    <integer>42</integer>
	</dict>
	<key>Gamma</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>52</integer>
	    <key>uni1FD6</key>
	    <integer>32</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>42</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F77</key>
	    <integer>-31</integer>
	    <key>uni1F76</key>
	    <integer>11</integer>
	    <key>uni1F37</key>
	    <integer>10</integer>
	    <key>uni1F36</key>
	    <integer>10</integer>
	    <key>uni1F35</key>
	    <integer>47</integer>
	    <key>uni1F34</key>
	    <integer>31</integer>
	    <key>uni1F33</key>
	    <integer>79</integer>
	    <key>uni1F32</key>
	    <integer>63</integer>
	    <key>uni1F31</key>
	    <integer>-47</integer>
	    <key>uni1F30</key>
	    <integer>-42</integer>
	    <key>uni1F23</key>
	    <integer>-53</integer>
	    <key>uni1F15</key>
	    <integer>-46</integer>
	    <key>uni1F13</key>
	    <integer>-53</integer>
	    <key>uni1F12</key>
	    <integer>-63</integer>
	    <key>iotadieresistonos</key>
	    <integer>104</integer>
	    <key>iotadieresis</key>
	    <integer>52</integer>
	</dict>
	<key>Epsilon</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>Zeta</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>73</integer>
	    <key>iotadieresis</key>
	    <integer>31</integer>
	</dict>
	<key>Eta</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>Kappa</key>
	<dict>
	    <key>uni1FD3</key>
	    <integer>73</integer>
	    <key>uni1FD2</key>
	    <integer>62</integer>
	    <key>uni1FD1</key>
	    <integer>32</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F33</key>
	    <integer>63</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>63</integer>
	    <key>iotadieresis</key>
	    <integer>21</integer>
	</dict>
	<key>Xi</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>73</integer>
	    <key>iotadieresis</key>
	    <integer>31</integer>
	</dict>
	<key>Rho</key>
	<dict>
	    <key>uni1F32</key>
	    <integer>10</integer>
	</dict>
	<key>Sigma</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>21</integer>
	    <key>uni1FD3</key>
	    <integer>73</integer>
	    <key>uni1FD2</key>
	    <integer>63</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>Tau</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>52</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>31</integer>
	    <key>uni1F77</key>
	    <integer>-21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>-20</integer>
	    <key>uni1F36</key>
	    <integer>-20</integer>
	    <key>uni1F35</key>
	    <integer>62</integer>
	    <key>uni1F34</key>
	    <integer>21</integer>
	    <key>uni1F33</key>
	    <integer>73</integer>
	    <key>uni1F32</key>
	    <integer>73</integer>
	    <key>uni1F31</key>
	    <integer>-21</integer>
	    <key>uni1F30</key>
	    <integer>-41</integer>
	    <key>uni1F13</key>
	    <integer>-52</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>Upsilon</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>Chi</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>8</integer>
	    <key>uni1FD6</key>
	    <integer>-2</integer>
	    <key>uni1FD3</key>
	    <integer>62</integer>
	    <key>uni1FD2</key>
	    <integer>62</integer>
	    <key>uni1FD1</key>
	    <integer>-2</integer>
	    <key>uni1FD0</key>
	    <integer>-2</integer>
	    <key>iotadieresistonos</key>
	    <integer>62</integer>
	    <key>iotadieresis</key>
	    <integer>32</integer>
	</dict>
	<key>Psi</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>-7</integer>
	    <key>uni1FD3</key>
	    <integer>31</integer>
	    <key>uni1FD2</key>
	    <integer>31</integer>
	    <key>iotadieresistonos</key>
	    <integer>42</integer>
	    <key>iotadieresis</key>
	    <integer>-2</integer>
	</dict>
	<key>zeta</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>94</integer>
	    <key>iotadieresis</key>
	    <integer>52</integer>
	</dict>
	<key>Epsilontonos</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>Etatonos</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>Upsilontonos</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>Upsilondieresis</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1F18</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1F19</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1F1A</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1F1B</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1F1C</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1F1D</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1F28</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F29</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F2A</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F2B</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F2C</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F2D</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F2E</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F2F</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F59</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1F5B</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1F5D</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1F5F</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1FC8</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1FC9</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>52</integer>
	</dict>
	<key>uni1FCA</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1FCB</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1FE8</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1FE9</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1FEA</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1FEB</key>
	<dict>
	    <key>uni1FD7</key>
	    <integer>42</integer>
	    <key>uni1FD6</key>
	    <integer>31</integer>
	    <key>uni1FD3</key>
	    <integer>94</integer>
	    <key>uni1FD2</key>
	    <integer>94</integer>
	    <key>uni1FD1</key>
	    <integer>41</integer>
	    <key>uni1FD0</key>
	    <integer>21</integer>
	    <key>uni1F76</key>
	    <integer>21</integer>
	    <key>uni1F37</key>
	    <integer>5</integer>
	    <key>uni1F36</key>
	    <integer>5</integer>
	    <key>uni1F35</key>
	    <integer>52</integer>
	    <key>uni1F34</key>
	    <integer>10</integer>
	    <key>uni1F33</key>
	    <integer>84</integer>
	    <key>uni1F32</key>
	    <integer>41</integer>
	    <key>iotadieresistonos</key>
	    <integer>83</integer>
	    <key>iotadieresis</key>
	    <integer>42</integer>
	</dict>
	<key>uni1FEC</key>
	<dict>
	    <key>uni1F32</key>
	    <integer>10</integer>
	</dict>
	<key>uni1F98.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F99.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F9A.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F9B.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F9C.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F9D.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F9E.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
	<key>uni1F9F.alt</key>
	<dict>
	    <key>iotadieresistonos</key>
	    <integer>31</integer>
	</dict>
    </dict>
</plist>
